.recipe-preview-wrapper{
    width: 98%;
    height: 100px;
    margin: 5px auto;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}

.recipe-preview-wrapper > h2{
    height: 100%;
    padding: 30px;
    margin: auto;
    justify-content: space-around;
    box-sizing: border-box;
}